div#container
  div#loader
    span Retrieving Assets...
    div
  div.topbar
    !=partial('templates/topbar')
  div#wrapper

script(id="main-layout",type="layout")
    div#vis.center
    div#links

!=partial('templates/links')
!=partial('templates/vis')

div(id="modal",class="modal hide fade")
  div(class="modal-header")
    button(class="close",data-dismiss="modal")x
    h3 Save Link 
  div(class="modal-body")
    iframe(src="/upload", frameborder=0)
    form
      table
        tr
          td
            label Title
          td
            input(id="title", name="title")
        tr(class="url")
          td
            label URL
          td
            input(id="uri", name="uri")
        tr
          td
            label Tags
          td
            input(id="tags", name="tags")
        tr
          td
            label Notes 
          td
            textarea(id="notes", name="notes")
  div(class="modal-footer")
    a(href="#",class="btn",data-dismiss="modal") Close
    a(id="saveLink",href="#",class="btn btn-primary") Save
