div#wrapper 

script(id="main-layout",type="layout")
    div#container
        div.topbar
        div#vis.center
        div#links

!=partial('templates/topbar')
!=partial('templates/links')
!=partial('templates/vis')

