div#container
  div#loader
    span Retrieving Assets...
    div
  div.topbar
    !=partial('templates/topbar')
  div#wrapper

script(id="main-layout",type="layout")
    div#vis.center
    div#links

!=partial('templates/links')
!=partial('templates/vis')

