div#wrapper 

script(id="main-layout",type="layout")
    div#container
        div.topbar
        div#vis.center
        div#links

script(id="topbar-template",type="template")
  div.topbar-inner
    div.container
      h3
        a(href="#tags/all") Collect 
      ul.nav
        li
            a#visuals(href="#vis/bubble") Vis
      div#search.pull-left(action="")
        input#searchText(type="text",placeholder="Search")

script(id="vis-template",type="template")
    ul.tabs
      li.active
        a(href="#vis/bubble") Bubble
    div#chart

script(id="links-template",type="template")
    header
        h1.center
            svg(version="1.0",id="Layer_1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",x="0px",y="0px",viewBox="0 0 100 100",enable-background="new 0 0 100 100",xml:space="preserve")
                path(d="M98.038,60.134L37.903,0L0,0v37.902l60.135,60.135c2.617,2.617,6.859,2.617,9.476,0L98.038,69.61 C100.654,66.994,100.654,62.751,98.038,60.134z M21.923,31.056c-2.617-2.617-2.617-6.859,0-9.476c2.616-2.617,6.858-2.617,9.476,0 c2.616,2.617,2.616,6.859,0,9.476C28.781,33.673,24.539,33.673,21.923,31.056z")
            &nbsp;
            span#contextTags
                - var contextTags = '<%=contextTags%>'
                | !{contextTags}
            span#search
    div.center
        div#loader
        nav
            div#adjacentTags
                - var relatedTagHTML = '<ul><% _.each(relatedTags, function(tag) { %> <li class="<%=tag.type%>" id="tag-<%=tag.name%>">'
                - relatedTagHTML +=  '<a href="/#tags/<%=tag.name%>"><%=tag.name%></a><span class="count"><%=tag.count%></span>'
                - relatedTagHTML +=  '<span class="add">+</span><span class="subtract">-</span></li> <% }); %></ul>'
                | !{relatedTagHTML}
            div#tags
                - var tagHTML = '<% _.each(tags, function(tag) { %> <li id="tag-<%=tag.name%>"><a href="/#tags/<%=tag.name%>"><%=tag.name%></a>'
                - tagHTML += '<span class="count"><%=tag.value%></span><span class="add">+</span><span class="subtract">-</span></li> <% }); %>'
                <ul>
                | !{tagHTML}
                </ul>
        section
            div.pagination
            div.links
                - var linkHTML = '<% _.each(links, function(link) { %> <li><a target="_blank" class="title" href="<%=link.uri%>"><%=unescape(link.title)%></a>'
                - linkHTML += '<div class="date"><%=collect.Model.formatDate(link.date)%></div><div>'
                - linkHTML += '<a target="_blank" class="uri" href="<%=link.uri%>"><%=unescape(link.uri)%></a></div>'
                - linkHTML += '<div class="tags"><%_.each(link.tags, function(tag){%><a href="/#tags/<%=tag%>"><%=tag%></a><%}); %></div></li> <% }); '
                - linkHTML += ' if(links.length === 0) {%><div id="emptySet"></div><% }  %>'
                <ul>
                | !{linkHTML}
                </ul>
            div.pagination
