form(action="https://geoffreymoller-collect.s3.amazonaws.com/",method="post",enctype="multipart/form-data")
  input(type="hidden",name="key",value="2012/${filename}")
  input(type="hidden",name="AWSAccessKeyId",value="AKIAJ5DAOYHIIG33K7QA")
  input(type="hidden",name="acl",value="public-read")
  input(type="hidden",name="success_action_redirect",value="http://collect.no.de/success")
  input(type="hidden",name="policy",value="eyJleHBpcmF0aW9uIjogIjIwMTQtMDEtMDFUMDA6MDA6MDBaIiwKICAiY29uZGl0aW9ucyI6IFsgCiAgICB7ImJ1Y2tldCI6ICJnZW9mZnJleW1vbGxlci1jb2xsZWN0In0sIAogICAgWyJzdGFydHMtd2l0aCIsICIka2V5IiwgIjIiXSwKICAgIHsiYWNsIjogInB1YmxpYy1yZWFkIn0sCiAgICB7InN1Y2Nlc3NfYWN0aW9uX3JlZGlyZWN0IjogImh0dHA6Ly9jb2xsZWN0Lm5vLmRlL3N1Y2Nlc3MifSwKICAgIFsic3RhcnRzLXdpdGgiLCAiJENvbnRlbnQtVHlwZSIsICJpbWFnZSJdLAogICAgWyJjb250ZW50LWxlbmd0aC1yYW5nZSIsIDAsIDEwNDg1NzZdCiAgXQp9Cg==")
  input(type="hidden",name="signature",value="ZCSd2anUnoCJfxUOt7J6YrNx+qQ=")
  input(type="hidden",name="Content-Type",value="image/png")
  input(class="input-file",name="file",type="file")
  //input(type="submit",value="Upload File to S3")
