div.topbar-inner
  div.container
    h3
      a(href="#search/tags=all") Collect 
    ul.nav
      li
          a#visuals(href="#vis/bubble") Vis
    div#search.pull-left
    div#add-link.pull-left Add Link
    div#nuke.pull-right

