script(id="topbar-template",type="text/x-handlebars-template")
  div.topbar-inner
    div.container
      h3
        a(href="#tags/all") Collect 
      ul.nav
        li
            a#visuals(href="#vis/bubble") Vis
      div#search.pull-left(action="")
        input#searchText(type="text",placeholder="Search")

